GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DJANGO_SECRET_KEY=
GEMINI_API_KEY=

# Database (dev defaults built into docker-compose)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Meilisearch (dev defaults built into docker-compose)
MEILISEARCH_MASTER_KEY=
MEILISEARCH_API_KEY=

# Django
DEBUG=True
SENTRY_DSN=
ACCOUNT_HTTP_PROTOCOL=http
