Django>=5.0.14
requests>=2.32.4
python-dotenv>=1.0.1
pandas>=2.2.0
celery>=5.3.6
redis>=5.0.1
django-celery-results>=2.5.1
dj-database-url>=3.1.2
mysqlclient>=2.2.1
gunicorn>=21.2.0
whitenoise>=6.12.0
django-redis>=5.4.0  # For caching
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability

meilisearch>=0.31.0
sentry-sdk[django,celery]>=2.0.0
google-genai>=1.0.0

# Authentication dependencies
django-allauth>=65.3.0
PyJWT>=2.13.0
cryptography>=46.0.5
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
