Django>=5.0.14
requests>=2.31.0
python-dotenv>=1.0.1
pandas>=2.2.0
celery>=5.3.6
redis>=5.0.1
django-celery-results>=2.5.1
dj-database-url>=2.1.0
mysqlclient>=2.2.1
gunicorn>=21.2.0
whitenoise>=6.6.0
django-redis>=5.4.0  # For caching
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability

# Authentication dependencies
django-allauth>=0.60.1
PyJWT>=2.8.0
cryptography>=42.0.5
